/* @media screen and (min-width: 300px) {
  html {
    margin: 0px auto;
    padding: 0px; 
    width: 90vw;
  }
} */

html {
  height: 100%;
}

#header {
  background-color: black;
}

#app-title-en {
  color: white;
}

body {
  margin: 0 auto;
  background-color: white;
  color: black;
  text-align: center;
}